# Python cache files
__pycache__/
*.py[cod]

# Environment folders
venv/
env/
.venv/

# Django stuff
*.log
db.sqlite3
db.sqlite3-journal

# Static files collected by collectstatic
staticfiles/

# Media files (user uploads)
media/

# Environment variables
.env

# VS Code settings
.vscode/

# Mac system files
.DS_Store


# Ignore Python egg-info
*.egg-info/

# Ignore coverage reports
.coverage
